

.font-link {
    font-family: 'Source Code Pro', cursive;
}
.left_img .Me {
    height: 350px;
    width: 250px; 
    overflow: 'hidden';
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    margin-top: 10%;
}
.left {
    width: 40%;
    position: relative;
}
.left_img .Me  {
    position: absolute;
    top: 0;
    right: 10%;
    width: 250px;
}

.right_about {
    height: 350px;
    overflow: 'hidden';
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    margin-top: 10%;
    overflow: scroll;
}
.right {
   width: 40%;
   position: absolute;
   right: 20px;

}

ul {
    list-style-type: none;
}
img.skills {
    padding: 5px;
}
#skills {
    background-color:#E1EDBD;
    position: relative;
    height: 100px;
   border-right: 10px;
    
}

.skills {
    height: 50px;
    width: 50px;
}



